.userAvatar {
  .inputAvatar-icon {
    position: absolute;
    bottom: 5%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 35px;
      margin-top: 3px;
    }

    &:hover {
      background-color: #444;
    }
  }
}
