@font-face {
  font-family: 'Khandy Holand Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Khandy Holand Regular'),
    url('../fonts/KhandyHoland-p75Ev.woff') format('woff');
}
