@import './fonts';
@import './variables';
@import './mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    background-color: #222;
    // overflow: overlay;
  }
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a9a9a945;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }

  input,
  textarea {
    outline: none;
  }
  * {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  a {
    text-decoration: none !important;
  }
  li {
    list-style: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
  }
}

@layer components {
  .home-layout {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    // @include responsive('tablet') {
    //   grid-template-columns: 82px calc(80% - 82px) 20%;
    // }
  }
  .main-layout {
    display: grid;
    grid-template-columns: 82px calc(100% - 82px);
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #181818;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a9a9a945;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
  .custom-scrollbar2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .custom-scrollbar2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #181818;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }

  .textarea-scrollbar {
    cursor: auto;
  }
  .textarea-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    cursor: default !important;
  }
  .textarea-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a9a9a9;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    cursor: default !important;
  }
  .imgMobile {
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

/* Auth Supabase */
.float-border {
  border: 1px solid rgba(255, 61, 113, 0.2);
  box-shadow: 0px 1px 20px 0px rgb(255 61 113 / 30%),
    0px 2px 20px 2px rgb(255 61 113 / 15%);
}
.supabase-ui-auth_ui-message {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Sweet Alert */
.swal2-popup {
  background-color: #181818 !important;
  border: 1px solid rgba(255, 61, 113, 0.2);
  box-shadow: 0px 1px 20px 0px rgb(255 61 113 / 30%),
    0px 2px 30px 2px rgb(255 61 113 / 15%);
  font-family: 'DM Sans', sans-serif !important;
  border-radius: 12px !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow: unset !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.85) !important;
}

.swal2-popup .swal2-title,
.swal2-html-container {
  color: rgba(255, 255, 255, 0.8) !important;
}
